<!DOCTYPE html>
<html>
<head>
  <title>Perfect Puppy</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
  <style>
    @import url('https://fonts.googleapis.com/css?family=Dancing+Script');

html, body {
  margin:0;
  padding:0;
  height:100%;
  background:url("http://images.all-free-download.com/images/graphiclarge/soft_wave_background_310823.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home-page {
  height:100%;
  text-align:center;
  font-family: 'Dancing Script', cursive;
  overflow: scroll;
}

.second-page {
  text-align: center;
}
h1 {
    font-size:8vmax;
    margin-top:15%;
}

button {
  width: 250px;
  background-color: #4CAF50;
   border: 2px solid #008CBA; 
}
.pic-table {
  margin:0;
  padding-top:10%;
}
.pic {
  height:400px;
  width:400px;
  display:inline-block;
  margin:1%;
}
#p1 {
  background:url("http://4.bp.blogspot.com/-3qr8VGDrWJ4/VCLeoaSksjI/AAAAAAAAADA/bI1KrRShT9g/s1600/how%2Bto%2Bpotty%2Btrain%2Ba%2Bhusky%2Bpuppy.png");
  background-size:cover;
}
#p3 {
  background:url("http://www.dogwallpapers.net/wallpapers/wirehaired-vizsla-puppies-in-pelvis-wallpaper.jpg");
  background-size:cover;
}
#p4 {
  background:url("http://cdn2-www.dogtime.com/assets/uploads/2016/08/spotted-great-dane-puppy.jpg");
  background-size:cover;
}
#p5 {
  background:url("http://puppytoob.com/wp-content/uploads/2014/11/pitbull-dog-puppy-high-definition-wallpapers-cool-desktop-backgrounds-widescreen.jpg");
  background-size:cover;
}
#p6 {
  background:url("http://www.uclasificados.com.co/images/147489360440821.jpg");
  background-size:cover;
}
#p9 {
  background:url("https://s-media-cache-ak0.pinimg.com/originals/61/9f/63/619f630d357d476804455f692ea96119.jpg");
  background-size:cover;
}
#p10 {
  background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb_zHJ1iBq3WkdcY8njZtcRiiYmiUfdT_b_ElB08msnSzzZkTy");
  background-size:cover;
}
</style>
</head>
<body> 

  <div class="home-page">
    
    <div class="header">
     <h1>Perfect Pet!</h1>
    </div>
    <div class="tagline">
       <h2>Are You Ready To Find Your Perfect Pet?!?!? Click on any image to get started!!!</h2>
    </div>
    <div class="button">
    <a href="#anchor"> <button>GO!</button></a>
    </div>
    </div>
    
    <div class="second-page">
    <div class="pic-table">
       <a name="anchor"></a>
      <a href="https://en.wikipedia.org/wiki/Husky"><div class="pic" id="p1"></div></a>
      <a href="https://en.wikipedia.org/wiki/Vizsla"><div class="pic" id="p3"></div></a>
      <a href="https://en.wikipedia.org/wiki/Great_Dane"><div class="pic" id="p4"></div></a>
      <a href="https://en.wikipedia.org/wiki/Pug"><div class="pic" id="p5"></div></a>
      <a href="https://en.wikipedia.org/wiki/Border_Collie"><div class="pic" id="p6"></div></a>
      <a href="https://en.wikipedia.org/wiki/Rottweiler"><div class="pic" id="p9"></div></a>
      <a href="https://en.wikipedia.org/wiki/Poodle"><div class="pic" id="p10"></div></a>
    </div>
    
  </div>

</body>
</html>

